body {
	font-family: var(--vscode-markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif);
	font-size: var(--vscode-markdown-font-size, 11px);
	padding: 0 19px;
	line-height: var(--vscode-markdown-line-height, 15px);
	word-wrap: break-word;
}